{% extends 'base.html' %} 
{% load static %}
{% block content %}



<div class="container">
  <div class="row">
    <div style="color: white; background-color:black;" class="col-md-8 card mb-4  mt-3 left  top">
      <div style="color: white; background-color:black;" class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <img class="post_image" style="width: 50%; height: 50%; display: block; margin-left: auto; margin-right: auto;" alt="Responsive image" src="/media/{{ post.image }}"><br/>
        <img class="post_image" style="width: 35%; height: 35%; object-fit: cover; object-position: 50% 50%;" alt="Responsive image" src="/media/{{ post.image_two }}">
        <img class="post_image" style="width: 35%; height: 35%; object-fit: cover; object-position: 50% 50%; float: right;" alt="Responsive image" src="/media/{{ post.image_three }}">
        <br/>
      </div>
        <p class="card-text ">{{ object.content | safe }}</p>
    </div>
  </div>
</div>
<br/>
<br/>

        

{% endblock content %}