{% extends "../base.html" %}
{% block title %} Quanticon Consulting {% endblock %}
{% block content %}
<style>
.container {
    margin-bottom: 10%;
}
@media(max-width: 991.5px) {
    .container {
        margin-bottom: 20%; 
    }
}
</style>

<div class="container">
    <h1>Quanticon Consulting Services</h1>
    <h2>Introduction</h2>
    <p>
        Quanticon is proud to offer a variety of consulting services that touch on every facet of your department. Our
        consulting services are designed to help team leads, departmental heads, and CxOs reach their full potential and
        align with their company strategy. Our services include public speaking, publications, program management,
        project management, business analysis, resource solutions, training, and more.
    </p>

    <h2>Mission Statement</h2>
    <p>
        Through learning from and supporting Tier One & Two banks, Quanticon is a focused leader in the end-to-end
        delivery of Capital Markets and Risk Management projects. Our main objective is to provide the C-Suite, the CxO
        & the Departmental Head with the change the bank tools required to succeed. With the help and support of our
        established partners along your project management journey, we are committed to quality outcomes.
    </p>

    <h2>Key Services</h2>
    <p>
        We pride ourselves on the quality of our work across the project lifecycle. We have the capability to take a
        requirement from inception, develop, test, and go live from a business, technology, and regulatory perspective.
        While we offer a broad range of services, you can still expect to receive expert opinions from our team on every
        facet of your business. Our qualified personnel will leave you feeling satisfied and ready to excel in your
        business field. Quanticon ensures professionals have a front-to-back view of Capital Markets and Risk Management
        across financial institutions. We are seasoned professionals from the industry and understand the day-to-day
        challenges of working in a financial institution.
    </p>
    
        {% comment %} <a href="/contact">Contact Us</a>
        <a href="/about">About Us</a>
        <a href="/services">Services</a>
        <a href="/resources">Resources</a>
        <a href="/blogSummary">Blogs</a>
        <a href="/NevTest">NevTest</a> {% endcomment %}
   
</div>
{% endblock %}