{% extends "base.html" %}

{% block title %}
NevTest
{% endblock %}

{% block content %}
<div class="container">
    <h1>NevTest</h1>

    <!-- Form for SQL Input -->
    <form method="post" action="{% url 'store:execute_sql' %}">
        {% csrf_token %}
        <textarea name="sql_query" rows="5" cols="50" placeholder="Enter SQL"></textarea>
        <br>
        <input type="submit" value="Execute">
    </form>

    <!-- Display Results -->
    {% if results %}
    <h2>Results:</h2>
    <table border="1">
        <!-- Header for columns (this is basic and assumes all rows have the same columns) -->
        {% if results.0 %}
        <thead>
            <tr>
                {% for value in results.0 %}
                    <th>{{ value }}</th>
                {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <!-- Data Rows -->
        <tbody>
            {% for row in results %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock %}
