{% extends "../base.html" %}
{% block title %} Resources - Quanticon Consulting {% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center my-4">Resource Center</h1>
    <p class="text-center mb-4">Explore our curated collection of resources for insightful financial advice, tax strategies, and consulting tips. These materials are designed to provide you with additional knowledge and tools to manage your financial matters effectively.</p>
    
    <div class="row">
        
        <div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
            <div>
                <h2>Financial Advice</h2>
                <p>Simple financial advice to help you start securing your financial future.</p>
            </div>
            <p><a class="btn btn-custom-color mt-2" href="https://www.creditkarma.com/financial-planning/i/financial-tips">Learn More</a></p>
        </div>

        <div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
            <div>
                <h2>Tax Advice</h2>
                <p>Professional tax advice to ensure your money is being handled by the right people.</p>
            </div>
            <p><a class="btn btn-custom-color mt-2" href="https://money.usnews.com/money/blogs/my-money/articles/how-to-choose-the-right-tax-professional">Learn More</a></p>
        </div>

        <div class="col-md-4 mb-4 d-flex flex-column justify-content-between">
            <div>
                <h2>Financial Consulting</h2>
                <p>Comprehensive financial consulting tips tailored to your business needs.</p>
            </div>
            <p><a class="btn btn-custom-color mt-2" href="https://www.invoicera.com/blog/financial-management/financial-management-tips-tricks-for-consultants-and-it-companies/">Learn More</a></p>
        </div>
    </div>
</div>
{% endblock %}
