{% extends "../base.html" %}

{% block title %} Services - Quanticon Consulting {% endblock %}

{% block content %}
<div class="container">
    <h1>Services</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Financial Advice</h2>
            <p>Simple financial advice to help you start securing your financial future.</p>
            <p><a class="btn btn-primary" href="https://www.creditkarma.com/financial-planning/i/financial-tips">Learn More</a></p>
        </div>
        <div class="col-md-4">
            <h2>Tax Advice</h2>
            <p>Professional tax advice to ensure you're money is being handles by the right people.</p>
            <p><a class="btn btn-primary" href="https://money.usnews.com/money/blogs/my-money/articles/how-to-choose-the-right-tax-professional">Learn More</a></p>
        </div>
        <div class="col-md-4">
            <h2>Financial Consulting</h2>
            <p>Comprehensive financial consulting tips tailored to your business needs.</p>
            <p><a class="btn btn-primary" href="https://www.invoicera.com/blog/financial-management/financial-management-tips-tricks-for-consultants-and-it-companies/">Learn More</a></p>
        </div>
    </div>
</div>
{% endblock %}
