{% extends "../base.html" %}

{% block title %} Services - Quanticon Consulting {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center my-4">Our Services</h1>
 
        <div class="row mb-3">
            <div class="col-md-12">
                <h2>Financial Advice</h2>
                <p>Embark on a journey towards financial security with our clear, easy-to-follow advice. We provide the tools and insights needed to build a strong financial foundation for your future.</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <h2>Tax Advice</h2>
                <p>Ensure your finances are managed with utmost efficiency. Our professional tax advice is tailored to safeguard your assets and optimize your tax benefits, giving you peace of mind.</p>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-12">
                <h2>Financial Consulting</h2>
                <p>Discover customized financial strategies that align perfectly with your business objectives. Our comprehensive consulting services are designed to propel your business towards sustained growth and financial health.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-center mt-4">
                    <a class="btn btn-custom-color btn-lg" href="http://127.0.0.1:8000/contact/">Schedule a Consultation Now</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
